{% extends "base.html" %}

{% block title %}Menu - Pulp Kitchen{% endblock %}

{% block content%}
<div class="text-center mb-5">
    <h1 class="display-4">Our Menu</h1>
    <p class="lead">Fresh classics with a modern twist</p>
</div>

{% for category, items in menu.items() %}
 <h2 class="mb-4">{{ category.capitalize() }}</h2>
 <div class="row g-4 mb-5">
    {% for item in items %}
    <div class="col-md-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename=item.image) }}" class="card-img-top" alt="{{ item.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.description}}</p>
                <p class="fw-bold">{{ item.price}}</p>
            </div>
        </div>
    </div>
    {% endfor%}
</div>
{% endfor%}

{% endblock %}